<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <appSettings>
    <add key="NORTH_FRONT" value="COM3"/>
	<add key="NORTH_TAIL" value="COM4"/>
	<add key="SOUTH_LEFT" value="COM5"/>
	<add key="SOUTH_RIGHT" value="COM6"/>
    <add key="NAME" value="EGT"/>
	<add key="GATE" value="A"/>
   <add key="Setting4Print" value="V;800;1000;False;-70;-5;180;115"/>
  </appSettings>
</configuration>